.git
.github
**/__pycache__
**/*.pyc
**/.venv
**/node_modules
frontend/dist
.env
.env.*
*.db
generated_agents/*
!generated_agents/.gitkeep
repo_workdirs
document-summarizer-*
redit-summarizer-*
*.md
!README.md
